html {
    height: 100vh;
}

body {
    position: relative;
    color: black;
    height: 100vh;
    background-color: #f6d25f;
    font-family: sans-serif;
    margin: 0;
}

/*
NAVBAR
*/
#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-content {
    background-color: white;
    color: black;
    border: 8px solid #bf272d;
    border-left: 0px;
    border-right: 0px;
    margin-top: 80px;
    width: 50vw;
    height: 77.5px;
}

h1 {
    font-size: 28px;
    height: 100%;
    margin-top: 22px
}

#navbar-left {
    text-align: right;
    margin-right: 150px;
    margin-left: 50px
}

#navbar-right {
    text-align: left;
    margin-left: 150px
}

#logo {
    position: fixed;
    left: calc(50vw - 99.5px);
}

/*
Main Background
*/
main {
    height: calc(100vh - 173.5px)
}

.bg-image {
    background-image: url(../../assets/water-activity.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    height: calc(100vh - 173.5px);
    z-index: -1;
}

.overlay {
    height: calc(100vh - 173.5px);
    background-color: rgba(0, 0, 0, 0.8);
    display: flex
}

/*
Input Sections
*/

#central-container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 240px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-options {
    background: linear-gradient(338deg, rgba(101, 165, 204, 0.8) 0%, rgba(0, 108, 120, 0.8) 50%, rgba(176, 193, 205, 1) 100%);
    width: 500px;
    min-height: 300px;
    border-radius: 40px;
    text-align: center;
    color: white;
}

#input-options>p:first-child {
    margin-top: 55px;
}

#camp-sign {
    margin-left: 20px;
}

#input-box {
    background: linear-gradient(338deg, rgba(101, 165, 204, 0.8) 0%, rgba(0, 108, 120, 0.8) 50%, rgba(176, 193, 205, 1) 100%);
    width: 75%;
    max-width: 1000px;
    height: 55vh;
    border-radius: 40px;
    border: 5px solid #f6d25f;
    transition: width 1.0s ease-in-out;
    display: flex;
    margin-bottom: 5px;
}

button {
    background-color: rgba(246, 210, 95, 1);
    color: rgba(0, 0, 0, 1);
    margin-top: 0;
    padding: 10px 20px;
    width: 185px;
    border-radius: 20px;
    border: none;
    appearance: none;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    opacity: 1;
}

#text-box {
    box-sizing: border-box;
    width: 75%;
}

#text-box-btns {
    flex-direction: column;
    width: 200px;
}

.paste-box-btns {
    margin: 15px;
    width: 135px;
}

#close-btn {
    margin-top: 55px;
    background-color: rgb(231, 95, 95)
}

#submit-btn {
    background-color: rgb(34, 196, 34);
}

#upload-btn-2 {
    background-color: #f6d25f;
}

textarea {
    width: 90%;
    height: 49.5vh;
    margin-left: 5%;
    margin-top: 30px;
    opacity: 0.5;
    resize: none;
    box-sizing: border-box;
    border: 15px solid #fff;
    border-radius: 8px;
}

/*
Input Box Transitions
*/

.fade-in-05s {
    animation-name: fade-in;
    animation-duration: 0.5s;
}

.fade-in-1s {
    animation-name: fade-in;
    animation-duration: 1.0s;
}

.fade-in-1-5s {
    animation-name: fade-in;
    animation-duration: 1.5s;
}

.fade-in-2s {
    animation-name: fade-in;
    animation-duration: 2.0s;
}

.fade-in-3s {
    animation-name: fade-in;
    animation-duration: 3.0s;
}

.fade-in-5s {
    animation-name: fade-in;
    animation-duration: 5.0s;
}

@keyframes fade-in {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

/*
FOOTER
*/
footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    height: 25px;
    width: 100%;
    text-align: center;
}

footer>p {
    position: relative;
    font-size: 14px;
    top: -10px
}