html {
    height: 100vh;
}

body {
    position: relative;
    color: black;
    height: 100vh;
    background-color: #f6d25f;
    font-family: sans-serif;
    margin: 0;
}

/*
NAVBAR
*/
#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-content {
    background-color: white;
    color: black;
    border: 8px solid #bf272d;
    border-left: 0px;
    border-right: 0px;
    margin-top: 80px;
    width: 50vw;
    height: 77.5px;
}

h1 {
    font-size: 28px;
    height: 100%;
    margin-top: 22px
}

#navbar-left {
    text-align: right;
    margin-right: 150px;
    margin-left: 50px
}

#navbar-right {
    text-align: left;
    margin-left: 150px
}

#logo {
    position: fixed;
    left: calc(50vw - 99.5px);
}

/*
Main Background
*/
main {
    height: calc(100vh - 173.5px)
}

.bg-image {
    background-image: url(../../assets/water-activity.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    height: calc(100vh - 173.5px);
    z-index: -1;
}

.overlay {
    height: calc(100vh - 173.5px);
    background-color: rgba(0, 0, 0, 0.8);
}

/*
Input Section
*/
#input-section {
    position: absolute;
    width: 100vw;
    margin-top: 66px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#raft {
    background-image: url(../../assets/water-raft.jpg);
    width: 500px;
    height: 300px;
    margin: 50px;
    border-radius: 40px;
    display: none;
    order: 2
}

#input-box {
    background: linear-gradient(338deg, rgba(101, 165, 204, 0.8) 0%, rgba(0, 108, 120, 0.8) 50%, rgba(176, 193, 205, 1) 100%);
    width: 500px;
    height: 300px;
    border-radius: 40px;
    margin-top: calc(((100vh - 267px) - 310px) / 2);
    text-align: center;
    color: white;
}

#input-box>p:first-child {
    margin-top: 55px;
}

button {
    background-color: rgba(246, 210, 95, 1);
    color: rgba(0, 0, 0, 1);
    margin-top: 0;
    padding: 10px 20px;
    width: 185px;
    border-radius: 20px;
    border: none;
    appearance: none;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    opacity: 1;
}

#close-btn {
    opacity: 0;
    display: none;
}

#camp-sign {
    margin-left: 20px;
    display: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/*
Media Queries for responsiveness
*/

@media only screen and (min-width: 650px) and (min-height: 825px) {
    #input-box {
        /* margin-top: 3vh; */
        margin-top: calc((100vh - 790px) / 2);
        margin-bottom: 1vh;
        height: 500px
    }

    #camp-sign {
        display: block;
    }
}

@media only screen and (min-width: 650px) and (min-height: 1200px) {
    #input-box {
        margin-top: calc((100vh - 1200px) / 2);
        margin-bottom: 0;
    }
}

/*
FOOTER
*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    height: 25px;
    width: 100%;
    text-align: center;
}

footer>p {
    position: relative;
    font-size: 14px;
    top: -10px
}